// Colors
$white: #FFFFFF;
$black: #1C232B;
$cream: #F2EAE2;
$grey: #6C7289;
$green-500: #3D8168;
$green-700: #1A4032;

// Spacings
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-100: 8px;
$spacing-50: 4px;